.scroll-container {
  border: 2px solid grey;
  border-radius: 12px;
  overflow: hidden;
  max-height: 72vh
}

.scroll-box {
  height: 0vh;
  overflow-y: auto;
  padding-right: 12px;
  scroll-behavior: smooth;
  padding: 4px;
  transition:
    height 0s ease;
}

.scroll-box.expanded {
  height: 70vh
}

.scroll-box > * + * {
  margin-top: 4px;
}

.scroll-box::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
