.scroll-container {
  position: relative;
  border: 2px solid grey;
  border-radius: 12px;
  overflow: hidden;
  max-height: 72vh;
}

.scroll-box {
  position: relative;
  height: 0vh;
  overflow-y: auto;
  padding-right: 12px;
  scroll-behavior: smooth;
  padding: 4px;
  transition:
    height 0s ease;
}

.scroll-box.expanded {
  height: 70vh
}

.scroll-box > * + * {
  margin-top: 4px;
}

.scroll-box::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;
  border: 4px solid #fd0000;
  border-top-color: #730000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  opacity: 1;
  transition:
    opacity ease 0.4s
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

.spinner.fade-out {
  opacity: 0;
}