.search-wrapper {
  position: relative;
  width: 25vw;
}

.search-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid black;
}

.search-results {
  position: absolute;
  top: 110%;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.search-item {
  padding: 10px 12px;
  cursor: pointer;
}

.search-item:hover,
.search-item.active {
  background-color: #f0f0f0;
}
